.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(73, 79, 82);
  color: #ffffff
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.itemsWrapper {
  display: flex;
  flex-wrap: wrap;

}
.itemsWrapper img {
  width: 200px;
}
