.App {
  text-align: left;
  background-color: #f2f2f2;
  padding: 0 0 100px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(73, 79, 82);
  color: #ffffff
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.containerWrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 0 0 0;
  display: flex;
}

.itemsWrapper {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: flex-start;
  width: 80%;
  background-color: #ffffff;
}
.itemsWrapper > .item {
  width: calc(20% - 30px);
  background-color: rgb(73, 79, 82);
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px 30px;
  padding: 10px;
  box-sizing: border-box;
}
.itemsWrapper img {
  width: 200px;
}
.actionsBar{
  width: calc(20% - 20px);
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 20px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  align-self: flex-start;
}
.actionButtonsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.actionButtonsWrapper button {
  margin: 0 0 10px;
}
.rarityFilterWrapper {
  width: 100%;
}
.rarityFilterWrapper form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.rarityFilter > *{
  cursor: pointer;
}
.rangeslider-horizontal {
  width: 100%;
}
button {
  border: 1px solid rgba(73, 79, 82, 0.2);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  width: auto;

}
button:hover {
  background-color: #7bb141;
  color: #F1F4EF;
}
