.App {
  text-align: left;
  background-color: #f2f2f2;
  padding: 0 0 100px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(73, 79, 82);
  color: #ffffff;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.positionCart, .cartIconWrapper, .cartWrapper, .cartIcon {
  position: relative;
  width: auto;
}
.cartWrapper {
  cursor: pointer;
}
.cartQuantity {
  position: absolute;
  padding: 2px;
  border-radius: 50%;
  background-color: firebrick;
  color: #ffffff;
  top: -10px;
  right: -10px;
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.cartPopupWrapper {
  width: 330px;
  position: absolute;
  background-color: #242b2b;
  padding: 20px;
  box-sizing: border-box;
  bottom: 0;
  right: -49px;
  transform: translateY(calc(100% + 20px));
  z-index: 100;
  pointer-events: none;
  transition: all 0.3s ease;
  opacity: 0;
  max-height: 640px;
  overflow-y: scroll;
}
.cartPopupWrapper.visible {
  opacity: 1;
  pointer-events: all;
}
/*.cartWrapper:hover .cartPopupWrapper, .cartPopupWrapper:hover  {*/
/*  */
/*}*/
.cartItemsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cartItem {
  width: 100%;
  position: relative;
  display: flex;
  padding: 0 0 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.cartItemImage {
  width: 100px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14% 0;
  margin: 0 10px 0 0;
}

.cartTotal {
  background-color: #fff;
  padding: 10px;
  color: #000000;
  font-size: 20px;
  text-align: center;
}


.containerWrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 0 0 0;
  display: flex;
}

.itemsWrapper {
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: #ffffff;
}
.itemsWrapper > .item {
  width: calc(20% - 20px);
  background-color: rgb(73, 79, 82);
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.itemsWrapper > .item.epic {
  background: rgb(236,193,16);
  background: radial-gradient(circle, rgba(236,193,16,1) 0%, rgba(0,0,0,1) 100%);
}
.itemsWrapper > .item.rare {
  background: rgb(16,236,38);
  background: radial-gradient(circle, rgba(16,236,38,1) 0%, rgba(0,0,0,1) 100%);
}
.itemsWrapper > .item.uncommon {
  background: rgb(16,161,236);
  background: radial-gradient(circle, rgba(16,161,236,1) 0%, rgba(0,0,0,1) 100%);
}
.itemImage {
  width: 100%;
  padding: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.itemsWrapper img {
  width: 200px;
}
.categoryItemInfo {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
}
.addToCartBtn {
  display: flex;
  align-items: flex-end;
  margin: auto 0 0;
  position: relative;
}
.addToCartBtn button {
  width: 100%;
  border-radius: 0;
  position: relative;
  color: #000;
  background-color: #ffffff;
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
  transform: translate(0,0);
  transition: all 0.1s ease;
}
.addToCartBtn button.pressed {
  transform: translate(4px,3px);
}
.addToCartBtn button:hover {
  background-color: #7bb141;
  color: #F1F4EF;
}
.addToCartBtn:before {
  content: '';
  position: absolute;
  background-color: #5d5555;
  top: 3px;
  left:4px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.actionsBar{
  width: calc(20% - 20px);
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 20px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  align-self: flex-start;
}
.actionButtonsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.actionButtonsWrapper button {
  margin: 0 0 10px;
}
.rarityFilterWrapper {
  width: 100%;
}
.rarityFilterWrapper form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.rarityFilter > *{
  cursor: pointer;
}
.rangeslider-horizontal {
  width: 100%;
}
button {
  border: 1px solid rgba(73, 79, 82, 0.2);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  width: auto;

}
button:hover {
  background-color: #7bb141;
  color: #F1F4EF;
}


